body {
  background: #f8f9fa;
  color: #343a40;
  font-family: verdana;
  text-align: center;
}

i {
  cursor: pointer;
  padding: 10px;
  background-color: #ABE;
  border-radius: 100%;
  margin: 0 15px;
  color: #fff;
}

#title {
  color: white;
  background: #ABE;
  font-size: 35px;
  padding: 10px;
  margin-bottom: 0px;
}

#num {
  vertical-align: middle;
  font-size: 35px;
}
#name {
  font-weight: bold;
  font-size: 15px;
  text-transform: uppercase;
}
